server
{
    listen 127.0.0.1:4242;
    
    root ./www;

    error_page 400 error_pages/400.html;
    error_page 600 error_pages/600.html;

    max_body_size 2097152; # 2 MiB

    location /
    {
        methods GET POST DELETE;
        index index.html;
    }

    location /uploads
    {
        methods POST;
        index index.html;
        upload_dir ./www./uploads;
    }
}
