server
{
    listen 127.0.0.1:4242;
    
    root ./www;
    # JUST TEST
    error_page 400 error_pages/400.html;
    error_page 600 error_pages/600.html;

    max_body_size 2097152; # 2 MiB

    location /
    {
        methods  GET POST ;
        index index.html1;
    }

    location /uploads
    {
        methods GET POST;
        index index.html2;
        #autoindex on;
        upload_dir ./www./uploads;
    }
    AAA AAA;
}

server
{
    listen 127.0.0.1:4241;
    
    root ./www;

    error_page 400 error_pages/400.html;
    error_page 600 error_pages/600.html;

    max_body_size 2097152; # 2 MiB

    location /
    {
        methods  GET POST ;
        autoindex on;
        index index.html3;
    }

    location /uploads
    {
        methods GET POST;
        index index.html4;
        autoindex on;
        upload_dir ./www./uploads;
    }
}

server
{
    listen 127.0.0.1:4240;
    
    root ./www;

    error_page 400 error_pages/400.html5;
    error_page 600 error_pages/600.html6;

    max_body_size 2097152; # 2 MiB

    location /
    {
        methods  GET POST ;
        autoindex on;
        index index.html7;
    }

    location /uploads
    {
        methods GET POST;
        autoindex on;
        index index.html8;
        upload_dir ./www./uploads;
    }
}

server
{
    listen 127.0.0.1:4243;
    
    root ./www;

    error_page 400 error_pages/400.html;
    error_page 600 error_pages/600.html;

    max_body_size 2097152; # 2 MiB

    location /
    {
        methods  GET POST ;
        autoindex on;
        index index.html9;
    }

    location /uploads
    {
        methods GET POST;
        autoindex on;
        index index.html10;
        upload_dir ./www./uploads;
    }
}